In [69]:
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator # Generates batches for sequence data
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,SimpleRNN,LSTM
from tensorflow.keras.callbacks import EarlyStopping

import tensorflow as tf
from tensorflow.keras import regularizers
from tensorflow.keras import layers, losses

from sklearn.preprocessing import MinMaxScaler

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv("../data/US_Crime_Rates_1960_2014.csv")

----------------------

## Preprocessing the Dataset

In [60]:
df
df['Year'] = pd.to_datetime(df.Year, format='%Y')
df.set_index("Year", inplace=True)

In [62]:
df = df[["Murder"]]
df.head()

            Murder
Year
1960-01-01    9110
1961-01-01    8740
1962-01-01    8530
1963-01-01    8640
1964-01-01    9360

In [63]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
DatetimeIndex: 55 entries, 1960-01-01 to 2014-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Murder  55 non-null     int64
dtypes: int64(1)
memory usage: 880.0 bytes

In [64]:
df.describe()

             Murder
count     55.000000
mean   17317.236364
std     4267.442664
min     8530.000000
25%    14819.000000
50%    17030.000000
75%    20561.500000
max    24700.000000

In [65]:
df.isnull().sum()

Murder    0
dtype: int64

In [83]:
scalar = MinMaxScaler()
#I have 55 rows
train = df.head(45)
test = df.tail(10)

train_scalar = scalar.fit_transform(train)
test_scalar = scalar.fit_transform(test)

In [74]:
print(train.shape)
print(test.shape)

(45, 1)
(10, 1)

--------

array([[0.03586889],
       [0.01298701],
       [0.        ],
       [0.00680272],
       [0.05132962],
       [0.08843537],
       [0.15522573],
       [0.22943723],
       [0.32591218],
       [0.38528139],
       [0.4619666 ],
       [0.572047  ],
       [0.6270872 ],
       [0.68707483],
       [0.75324675],
       [0.74087817],
       [0.63388992],
       [0.65491651],
       [0.6821274 ],
       [0.79962894],
       [0.89734075],
       [0.86518244],
       [0.77179963],
       [0.66666667],
       [0.62832406],
       [0.6462585 ],
       [0.74724799],
       [0.7152752 ],
       [0.75139147],
       [0.80210266],
       [0.92207792],
       [1.        ],
       [0.94186766],
       [0.9894867 ],
       [0.9152752 ],
       [0.80890538],
       [0.68769326],
       [0.59851577],
       [0.51849103],
       [0.43240569],
       [0.43636364],
       [0.46425479],
       [0.47612863],
       [0.49461967],
       [0.47111936]])