In [49]:
import pandas as pd
import numpy as np
#from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold, RepeatedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection
import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings('ignore')

In [144]:
df = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\train_set.csv")

In [145]:
df.drop(["0", "10", "11"],1, inplace=True )

In [146]:
df["9"] = df["9"].fillna(value=0)

In [147]:
df_data = df.drop("17", 1)
from sklearn.preprocessing import LabelEncoder

objList = df_data.select_dtypes(include = "object").columns
print (objList)
le = LabelEncoder()

for feat in objList:
    df_data[feat] = le.fit_transform(df_data[feat].astype(str))

Index(['2', '4', '6', '7', '8', '12', '13', '15'], dtype='object')

In [148]:
df_data

        1  2   3  4  5  6  7  8    9  12  13  14  15      16
0       6  0   6  0  2  2  2  5  4.0   2   2   2   2  2817.0
1      23  0   6  0  4  2  1  5  2.0   1   2   4   5  4498.0
2       2  2   5  2  2  1  3  5  3.0   2   2   2   7  4573.0
3      32  5   9  1  3  2  3  1  4.0   0   2   4   1  7202.0
4      14  0   1  0  3  2  3  4  2.0   2   2   2   5  3398.0
...    .. ..  .. .. .. .. .. ..  ...  ..  ..  ..  ..     ...
99995  12  0   9  1  3  2  2  1  3.0   0   2   6   5  3966.0
99996  28  1  11  0  2  2  2  5  2.0   2   2   3   2  4005.0
99997   6  0   6  0  3  2  1  5  3.0   1   1   2   3  5215.0
99998  32  5   9  1  2  2  3  1  4.0   1   2   3   4  5092.0
99999  25  4   1  0  3  2  1  4  2.0   0   2   2   4  3390.0

[100000 rows x 14 columns]

In [166]:
X = df_data[["3"]]
y = df["17"]
X.shape

(100000, 1)

In [129]:
y.shape

(100000,)

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [95]:
from sklearn import linear_model

In [96]:
X_train_small = X_train[:1000]
y_train_small = y_train[:1000]

In [23]:
from sklearn.model_selection import GridSearchCV

new_model = LogisticRegression()


param_grid = [
    {'penalty' : ['l1', '12',  'elasticnet'],
    'C' : np.logspace(-3, 3, 7, 50),
    'solver' : ['newton-cg', 'lbfgs', 'liblinear', 'sag'],
    'max_iter' : [50, 100, 200]}
]

clf = GridSearchCV(new_model, param_grid=param_grid, n_jobs=-1, verbose=10

)

best_clf = clf.fit(X_train, y_train)
best_clf.best_estimator_

Fitting 5 folds for each of 252 candidates, totalling 1260 fits
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    7.2s
[Parallel(n_jobs=-1)]: Done  45 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done  69 tasks      | elapsed:   16.2s
[Parallel(n_jobs=-1)]: Done  82 tasks      | elapsed:   17.2s
[Parallel(n_jobs=-1)]: Done  97 tasks      | elapsed:   18.7s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   20.3s
[Parallel(n_jobs=-1)]: Done 129 tasks      | elapsed:   24.2s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   26.2s
[Parallel(n_jobs=-1)]: Done 165 tasks      | elapsed:   28.0s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   29.8s
[Parallel(n_jobs=-1)]: Done 205 tasks      | elapsed:   34.7s
[Parallel(n_jobs=-1)]: Done 226 tasks      | elapsed:   36.6s
[Parallel(n_jobs=-1)]: Done 249 tasks      | elapsed:   57.2s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   60.0s
[Parallel(n_jobs=-1)]: Done 297 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 322 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 376 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 405 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 465 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 529 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 562 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 597 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 669 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 706 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 745 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 825 tasks      | elapsed:  4.4min
[Parallel(n_jobs=-1)]: Done 866 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 909 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 952 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  5.4min
[Parallel(n_jobs=-1)]: Done 1042 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 1089 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 1136 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 1185 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 1260 out of 1260 | elapsed:  7.0min finished

LogisticRegression(C=100.0, max_iter=50, penalty='l1', solver='liblinear')

In [97]:
model = RandomForestClassifier(n_estimators=200, bootstrap=False, criterion='entropy', max_depth=6,
                       max_features='log2', n_jobs=-1)

In [24]:
X_test.shape

(6480, 14)

In [164]:
#model = LogisticRegression(C=100.0, max_iter=50, penalty='l1', solver='liblinear')
model = LogisticRegression(C=1.7575106248547894, penalty='l1', solver='liblinear')

In [10]:
from sklearn.model_selection import GridSearchCV

k_fold = KFold(n_splits=100, random_state=1)
val_score = []
train_score = []
# define the model
model = LogisticRegression(C=1.7575106248547894, penalty='l1', solver='liblinear')

for train_index, test_index in k_fold.split(X_train):
    # Split train-test
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    # Train the model
    #model.fit(X_train, y_train)

In [167]:
model.fit(X, y)

LogisticRegression(C=1.7575106248547894, penalty='l1', solver='liblinear')

In [168]:
model.score(X,y)

0.2703

In [169]:
full_to_pred = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\test_set.csv")

In [170]:
to_pred = full_to_pred.copy()
to_pred

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,314114,19,a,7,Y,4,gynecology,S,C,2.0,59278,8.0,Emergency,Minor,2,41-50,4778.0
1,208989,15,c,5,Z,3,gynecology,S,F,2.0,102253,15.0,Trauma,Moderate,3,31-40,5734.0
2,305872,17,e,1,X,4,gynecology,R,E,4.0,5828,4.0,Emergency,Minor,3,71-80,5064.0
3,266099,3,c,3,Z,4,TB & Chest disease,R,A,2.0,56642,9.0,Urgent,Extreme,4,31-40,3254.0
4,13228,6,a,6,X,4,gynecology,R,F,1.0,116266,8.0,Emergency,Minor,3,21-30,4639.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133739,318155,18,d,13,Y,6,anesthesia,Q,B,3.0,123269,25.0,Urgent,Minor,4,51-60,5089.0
133740,144850,27,a,7,Y,2,gynecology,S,C,2.0,1293,8.0,Emergency,Moderate,3,61-70,6713.0
133741,180676,16,c,3,Z,3,gynecology,R,A,3.0,112921,5.0,Trauma,Minor,3,31-40,5326.0
133742,39933,28,b,11,X,4,gynecology,R,F,2.0,585,2.0,Trauma,Extreme,2,31-40,7072.0
133743,116673,6,a,6,X,4,TB & Chest disease,Q,F,2.0,119482,12.0,Trauma,Moderate,4,51-60,5221.0

In [171]:
to_pred.drop(["0", "10", "11"],1, inplace=True )
to_pred["9"] = to_pred["9"].fillna(value=0)

In [172]:
objList = to_pred.select_dtypes(include = "object").columns
print (objList)
le = LabelEncoder()

for feat in objList:
    to_pred[feat] = le.fit_transform(to_pred[feat].astype(str))

Index(['2', '4', '6', '7', '8', '12', '13', '15'], dtype='object')

In [157]:
to_pred

         1  2   3  4  5  6  7  8    9  12  13  14  15      16
0       19  0   7  1  4  2  3  2  2.0   0   1   2   4  4778.0
1       15  2   5  2  3  2  3  5  2.0   1   2   3   3  5734.0
2       17  4   1  0  4  2  2  4  4.0   0   1   3   7  5064.0
3        3  2   3  2  4  0  2  0  2.0   2   0   4   3  3254.0
4        6  0   6  0  4  2  2  5  1.0   0   1   3   2  4639.0
...     .. ..  .. .. .. .. .. ..  ...  ..  ..  ..  ..     ...
133739  18  3  13  1  6  1  1  1  3.0   2   1   4   5  5089.0
133740  27  0   7  1  2  2  3  2  2.0   0   2   3   6  6713.0
133741  16  2   3  2  3  2  2  0  3.0   1   1   3   3  5326.0
133742  28  1  11  0  4  2  2  5  2.0   1   0   2   3  7072.0
133743   6  0   6  0  4  0  1  5  2.0   1   2   4   5  5221.0

[133744 rows x 14 columns]

In [173]:
predictions = model.predict(to_pred[["3"]])

In [174]:
predictions

array(['21-30', '21-30', '21-30', ..., '21-30', '11-20', '21-30'],
      dtype=object)

In [175]:
submission = pd.DataFrame({"id": full_to_pred["0"], "days": predictions})
submission

            id   days
0       314114  21-30
1       208989  21-30
2       305872  21-30
3       266099  21-30
4        13228  21-30
...        ...    ...
133739  318155  11-20
133740  144850  21-30
133741  180676  21-30
133742   39933  11-20
133743  116673  21-30

[133744 rows x 2 columns]

In [176]:
sample = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\sample_submission.csv")

In [177]:
if submission.shape == sample.shape:
    if submission.columns.all() == sample.columns.all():
        if submission.id.all() == sample.id.all():
            print("you're ready to submit!")
            submission.to_csv("to_submit_21.csv", index = False)
            # Â¡Â¡Â¡Â¡Â¡Â¡Â¡ADD INDEX = FALSE!!!!!!!!!

you're ready to submit!

In [44]:
df = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\train_set.csv")

In [45]:
df.drop(["0", "10", "11"],1, inplace=True )

In [46]:
df["9"] = df["9"].fillna(value=0)

In [47]:
df_data = df.drop("17", 1)
from sklearn.preprocessing import LabelEncoder

objList = df_data.select_dtypes(include = "object").columns
print (objList)
le = LabelEncoder()

for feat in objList:
    df_data[feat] = le.fit_transform(df_data[feat].astype(str))

Index(['2', '4', '6', '7', '8', '12', '13', '15'], dtype='object')

In [34]:
# target
target = df["17"]

le = preprocessing.LabelEncoder()
le_fit = le.fit(target)
target_encoded = le_fit.transform(target)