Crea un programa que, llamando a una función clean_df(path), lea un archivo leíble por pandas, lo transforme a dataframe y lo limpie si es posible. 

La función clean_df() retornará el dataframe limpiado.

En la función clean_df:

- path: representa la ubicación o url de donde pandas lee el archivo a cargar.

In [1]:
import pandas as pd 
import numpy as np 
import os, sys


os.path.abspath('')
root_path = os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(''))))))
sys.path.append(root_path)

print(root_path)

c:\Users\Roxan\OneDrive\Documentos\My_map_2

In [114]:
import pandas as pd 
import numpy as np 
import os, sys

os.path.abspath('')
root_path = os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(os.path.abspath(''))))))
sys.path.append(root_path)

'''
Function to import data in csv format (url or from saved file), clean the dataframe of NaN and/or duplicated values, and if neccesary filter the dataframe for only correlated columns (> 0.3). For this a target column should be added. 

Parameter of function is the relative path to file with r added in front to get raw string
'''

def clean_df(path):
    #getting data from url or getting path and creating dataframe
    if path.lower().startswith("http"):
        df = pd.read_csv(path)

    else:
        arr = path.split()
        path_to_use = "\\"

        for pos, i in enumerate(path):
            path_to_use += i
            if i == '\\':
                path_to_use += '\\'

        df = pd.read_csv(root_path + str(path_to_use))

    #deleting duplicates from dataframe
    df_test.drop_duplicates(subset=None, keep='first', inplace=True)

    #deleting row if any value in row is Nan
    df.dropna(axis=0, how='any', inplace=True)

    #Selecting relevant features to use in machine learning
    target_column = input("Enter target column if necessary, if not enter: no")
    if target_column.lower() == "no":
        df_cleaned = df
        pass
    else:
        try:
            cor = df.corr()
            #Correlation with output variable
            cor_target = abs(cor[target_column])
            relevant_features = cor_target[cor_target>0.3]
            df_cleaned = df[relevant_features.index]
            df_cleaned["target"] = df[target_column].values
        except:
            raise Exception("Column name does not exist or written incorrectly")

    return df_cleaned

-----------------

Testing function

In [105]:
clean_df(r"Data-science-bootcamp\Curso\week_9\day1\data\USA_Housing.csv") #target column is Avg. Area Income.

      Avg. Area Income         Price        target
0         79545.458574  1.059034e+06  79545.458574
1         79248.642455  1.505891e+06  79248.642455
2         61287.067179  1.058988e+06  61287.067179
3         63345.240046  1.260617e+06  63345.240046
4         59982.197226  6.309435e+05  59982.197226
...                ...           ...           ...
4995      60567.944140  1.060194e+06  60567.944140
4996      78491.275435  1.482618e+06  78491.275435
4997      63390.686886  1.030730e+06  63390.686886
4998      68001.331235  1.198657e+06  68001.331235
4999      65510.581804  1.298950e+06  65510.581804

[5000 rows x 3 columns]

In [106]:
clean_df(path=r"Data-science-bootcamp\Curso\week_8\day4\data\iris.csv")  #target column = no

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [115]:
clean_df(path="https://covid.ourworldindata.org/data/owid-covid-data.csv") #target column is new_cases

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,new_tests,total_tests,new_tests_smoothed,population,target
3224,5.0,2.0,0.286,0.0,0.0,0.000,49.0,342.0,28.0,164689383.0,2.0
3225,8.0,3.0,0.714,0.0,0.0,0.000,39.0,381.0,31.0,164689383.0,3.0
3226,10.0,2.0,1.000,0.0,0.0,0.000,46.0,427.0,34.0,164689383.0,2.0
3227,10.0,0.0,1.000,0.0,0.0,0.000,36.0,463.0,36.0,164689383.0,0.0
3228,17.0,7.0,2.000,0.0,0.0,0.000,36.0,499.0,37.0,164689383.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
41920,6406.0,18.0,73.286,196.0,1.0,6.143,602.0,98988.0,1063.0,14862927.0,18.0
41921,6412.0,6.0,68.857,196.0,0.0,5.857,836.0,99824.0,1072.0,14862927.0,6.0
41922,6497.0,85.0,61.000,202.0,6.0,6.714,1013.0,100837.0,992.0,14862927.0,85.0
41923,6559.0,62.0,51.857,203.0,1.0,5.286,939.0,101776.0,1001.0,14862927.0,62.0
41924,6638.0,79.0,55.286,206.0,3.0,3.857,1095.0,102871.0,1021.0,14862927.0,79.0

--------