![image](how.png)

**"Should I Stay or Should i Go (from the Hospital)"**

In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
# la otra forma, pero lo mismo: from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\train_set.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  int64
 1   1       100000 non-null  int64
 2   2       100000 non-null  object
 3   3       100000 non-null  int64
 4   4       100000 non-null  object
 5   5       100000 non-null  int64
 6   6       100000 non-null  object
 7   7       100000 non-null  object
 8   8       100000 non-null  object
 9   9       99967 non-null   float64
 10  10      100000 non-null  int64
 11  11      98517 non-null   float64
 12  12      100000 non-null  object
 13  13      100000 non-null  object
 14  14      100000 non-null  int64
 15  15      100000 non-null  object
 16  16      100000 non-null  float64
 17  17      100000 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 13.7+ MB

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,161528,6,a,6,X,2,gynecology,R,F,4.0,45810,2.0,Urgent,Moderate,2,21-30,2817.0,0-10
1,159472,23,a,6,X,4,gynecology,Q,F,2.0,128565,15.0,Trauma,Moderate,4,51-60,4498.0,21-30
2,309765,2,c,5,Z,2,anesthesia,S,F,3.0,46565,5.0,Urgent,Moderate,2,71-80,4573.0,11-20
3,279614,32,f,9,Y,3,gynecology,S,B,4.0,124546,6.0,Emergency,Moderate,4,11-20,7202.0,51-60
4,147791,14,a,1,X,3,gynecology,S,E,2.0,22729,8.0,Urgent,Moderate,2,51-60,3398.0,51-60

In [5]:
# PROBLEMA DE CLASIFICACIÓN
df["17"].value_counts()

21-30                 27452
11-20                 24476
31-40                 17311
51-60                 10984
0-10                   7427
41-50                  3668
71-80                  3297
More than 100 Days     2150
81-90                  1470
91-100                  908
61-70                   857
Name: 17, dtype: int64

In [6]:
# esto es necesario para evitar futuros errores pero si quitaráis las columnas con Nan no haría falta
# Nan no vale pero 0 sí
df = df.dropna()
# esto quita filas y por tanto no se lo podremos aplicar al dataset de predicción

In [7]:
# quitad la primera columna porque corresponde con el case_id y por tanto no le servirá al modelo para aprender...
# quitar otras columnas es decisión vuestra como futuros data scientists 
df.drop("0",1,inplace = True)

In [8]:
df_data = df.drop("17", 1)
from sklearn.preprocessing import LabelEncoder

objList = df_data.select_dtypes(include = "object").columns
print (objList)
le = LabelEncoder()

for feat in objList:
    df_data[feat] = le.fit_transform(df_data[feat].astype(str))

Index(['2', '4', '6', '7', '8', '12', '13', '15'], dtype='object')

#### 1. Definir X e y

In [9]:
# coger las columnas 1, 3, 5, 9 tiene solo valor ilustrativo, NO LO COPIÉIS
X = np.array([["14","7","5","15"]])
y = np.array(df['17'])
X.shape

(98484, 4)

In [10]:
y.shape

(98484,)

#### 2. Dividir X_train, X_test, y_train, y_test

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [12]:
X_train

array([[2, 0, 4, 5],
       [2, 4, 3, 3],
       [3, 2, 3, 4],
       ...,
       [2, 1, 2, 1],
       [9, 3, 1, 5],
       [3, 1, 4, 7]], dtype=int64)

#### 3. Asignar el modelo (vacío) a una variable
Aquí meteríais los parámetros

In [13]:
model = linear_model.LogisticRegression()
# la otra forma, pero lo mismo: model = LogisticRegression()

#### 4. Entrenar el modelo con X_train, y_train

In [14]:
model.fit(X_train, y_train)

LogisticRegression()

#### 5. Predecir con el modelo ya entrenado con X_test/to_pred

In [15]:
predictions = model.predict(X_test)
print(predictions)

['21-30' '21-30' '21-30' ... '21-30' '21-30' '21-30']

#### 6. Sacar métricas, valorar el modelo

In [16]:
model.score(X_test,y_test)

0.35005330761029596

## Una vez listo el modelo, toca predecir con el dataset de predicción

In [2]:
to_pred = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\test_set.csv")

NameError: name 'pd' is not defined

In [1]:
# la primera columna es id_case, deberéis quitarla para hacer la predicción si la habéis quitado para entrenar
# pero guardarla para incluirla en la submission

# IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO
# SI EL ARRAY CON EL QUE HICISTEIS .fit() ERA DE 4 COLUMNAS, PARA .predict() DEBEN SER LAS MISMAS
# SI AL ARRAY CON EL QUE HICISTEIS .fit() LO NORMALIZASTEIS, PARA .predict() DEBÉIS NORMALIZARLO
# TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 133744 FILAS
# SI O SI

to_pred

NameError: name 'to_pred' is not defined

In [19]:
# para evitar este error ValueError: Input contains NaN, infinity or a value too large for dtype('float64').
to_pred = to_pred.fillna(0)

In [21]:

objList = to_pred.select_dtypes(include = "object").columns
print (objList)
le = LabelEncoder()

for feat in objList:
    to_pred[feat] = le.fit_transform([feat].astype(str))

Index(['2', '4', '6', '7', '8', '12', '13', '15'], dtype='object')

In [22]:
predictions_submit = model.predict(to_pred[["14","7","5","15"]])
predictions_submit

array(['21-30', '31-40', '21-30', ..., '21-30', '21-30', '21-30'],
      dtype=object)

In [23]:
submission = pd.DataFrame({"id": to_pred["0"], "days": predictions_submit})
submission

            id   days
0       314114  21-30
1       208989  31-40
2       305872  21-30
3       266099  31-40
4        13228  21-30
...        ...    ...
133739  318155  21-30
133740  144850  31-40
133741  180676  21-30
133742   39933  21-30
133743  116673  21-30

[133744 rows x 2 columns]

In [24]:
sample = pd.read_csv("C:\\Users\\Roxan\\OneDrive\\Documentos\My_map_2\\Data-science-bootcamp\\Curso\\week_9\\day5\\sample_submission.csv")

In [25]:
sample.shape

(133744, 2)

In [26]:
if submission.shape == sample.shape:
    if submission.columns.all() == sample.columns.all():
        if submission.id.all() == sample.id.all():
            print("you're ready to submit!")
            submission.to_csv("to_submit_.csv", index = False)
            # ¡¡¡¡¡¡¡ADD INDEX = FALSE!!!!!!!!!

you're ready to submit!