# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [82]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [83]:
time = pd.date_range(start='1/1/2015', end='28/07/2020')
time

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
               '2020-07-23', '2020-07-24', '2020-07-25', '2020-07-26',
               '2020-07-27', '2020-07-28'],
              dtype='datetime64[ns]', length=2036, freq='D')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [84]:
stock_symbols = ['AAPL', 'TSLA', 'IBM', 'LNKD']

In [85]:
stock_symbols

['AAPL', 'TSLA', 'IBM', 'LNKD']

['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [86]:
df = pd.read_csv("file.csv")
df

,Attributes,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Symbols,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM,AAPL,TSLA,IBM
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-02,100.2164535522461,219.30999755859375,129.24151611328125,109.33000183105469,219.30999755859375,162.05999755859375,111.44000244140625,223.25,163.30999755859375,107.3499984741211,213.25999450683594,161.0,111.38999938964844,222.8699951171875,161.30999755859375,53204600.0,4764400.0,5525500.0
3,2015-01-05,97.39318084716797,210.08999633789062,127.20793151855469,106.25,210.08999633789062,159.50999450683594,108.6500015258789,216.5,161.27000427246094,105.41000366210938,207.16000366210938,159.19000244140625,108.29000091552734,214.5500030517578,161.27000427246094,64285500.0,5368500.0,4880400.0
4,2015-01-06,97.40237426757812,211.27999877929688,124.464599609375,106.26000213623047,211.27999877929688,156.07000732421875,107.43000030517578,214.1999969482422,159.9600067138672,104.62999725341797,204.2100067138672,155.1699981689453,106.54000091552734,210.05999755859375,159.6699981689453,65797100.0,6261900.0,6146700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,2020-03-11,275.42999267578125,634.22998046875,117.97000122070312,275.42999267578125,634.22998046875,117.97000122070312,281.2200012207031,653.5800170898438,122.58000183105469,271.8599853515625,613.0,116.37999725341797,277.3900146484375,640.2000122070312,121.01000213623047,63899700.0,13322500.0,8446500.0
1308,2020-03-12,248.22999572753906,560.5499877929688,102.80999755859375,248.22999572753906,560.5499877929688,102.80999755859375,270.0,594.5,109.80000305175781,248.0,546.25,102.27999877929688,255.94000244140625,580.8900146484375,109.6500015258789,104618500.0,18909100.0,12512700.0
1309,2020-03-13,277.9700012207031,546.6199951171875,107.94999694824219,277.9700012207031,546.6199951171875,107.94999694824219,279.9200134277344,607.5700073242188,109.16000366210938,252.9499969482422,502.0,100.80999755859375,264.8900146484375,595.0,108.68000030517578,92683000.0,22640300.0,12502100.0
1310,2020-03-16,242.2100067138672,445.07000732421875,99.08000183105469,242.2100067138672,445.07000732421875,99.08000183105469,259.0799865722656,494.8699951171875,107.41000366210938,240.0,442.1700134277344,95.0,241.9499969482422,469.5,98.0,80605900.0,20489500.0,10568000.0
1311,2020-03-17,252.86000061035156,430.20001220703125,106.6500015258789,252.86000061035156,430.20001220703125,106.6500015258789,257.6099853515625,471.8500061035156,107.4000015258789,238.39999389648438,396.0,97.0999984741211,247.50999450683594,440.010009765625,100.61000061035156,80876700.0,23914500.0,8888000.0

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 399 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-01-02 00:00:00 to 2016-08-02 00:00:00
Minor_axis axis: AAPL to TSLA

### Step 5.  What is the type of structure of df ?

In [87]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [88]:
df = df.set_index("Attributes")

In [89]:
df.drop("Date", inplace=True)

In [90]:
new_df = df.loc[:, "Volume":"Volume.2"]
new_df.rename(columns={'Volume':'AAPL', 'Volume.1':'TSLA', 'Volume.2':'IBM'}, inplace=True)

In [91]:
new_df.drop("Symbols", inplace=True)

In [92]:
new_df

                   AAPL        TSLA         IBM
Attributes
2015-01-02   53204600.0   4764400.0   5525500.0
2015-01-05   64285500.0   5368500.0   4880400.0
2015-01-06   65797100.0   6261900.0   6146700.0
2015-01-07   40105900.0   2968400.0   4701800.0
2015-01-08   59364500.0   3442500.0   4236800.0
...                 ...         ...         ...
2020-03-11   63899700.0  13322500.0   8446500.0
2020-03-12  104618500.0  18909100.0  12512700.0
2020-03-13   92683000.0  22640300.0  12502100.0
2020-03-16   80605900.0  20489500.0  10568000.0
2020-03-17   80876700.0  23914500.0   8888000.0

[1310 rows x 3 columns]

In [93]:
new_df.index = pd.to_datetime(new_df.index)

In [94]:

new_df["week"] = new_df.index.week
new_df["year"] = new_df.index.year
new_df

new_df = new_df.groupby(["week", "year"]).sum()
#new_df.set_index(["week", "year"])

                  AAPL        IBM       LNKD       TSLA
Date
2015-01-02  53204626.0  5525466.0  1203743.0  4764443.0
2015-01-05  64285491.0  4880389.0  1400562.0  5368477.0
2015-01-06  65797116.0  6146712.0  2006546.0  6261936.0
2015-01-07  40105934.0  4701839.0   985016.0  2968390.0
2015-01-08  59364547.0  4241113.0  1293955.0  3442509.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [95]:
new_df.head(10)

                                                        AAPL  \
week year
1    2015                                         53204600.0
     2016  67649400.055791000.068457400.081094400.0707980...
     2017           28781900.021118100.022193600.031751900.0
     2018  25555900.029517900.022434600.023660000.0350035...
     2019  37039700.091312200.058607100.036028600.0252014...
     2020                               33870100.036580700.0
2    2015  64285500.065797100.040105900.059364500.0536995...
     2016  49739400.049154200.062439600.063170100.0798339...
     2017  33561900.024462100.027588600.027086200.0261119...
     2018  20567800.021584000.023959900.018667700.0254181...

                                                       TSLA  \
week year
1    2015                                         4764400.0
     2016     6827100.03186800.03779100.03554300.03628100.0
     2017             5923300.011213500.05911700.05527900.0
     2018     4352200.04521500.09946300.04591200.06302300.0
     2019  11658600.06965200.07394100.012586400.010285700.0
     2020                               9532100.017778500.0
2    2015     5368500.06261900.02968400.03442500.04668300.0
     2016     4091400.03091900.04126400.06490700.05578600.0
     2017     3979500.03660000.03650800.03790200.06093000.0
     2018     9859400.07146600.04309900.06645500.04825100.0

                                                     IBM
week year
1    2015                                      5525500.0
     2016  5229400.03924800.04310900.07025800.04762700.0
     2017           2934300.03381400.02682300.02945500.0
     2018  4202500.09441600.07556200.05195800.04982800.0
     2019  4239900.04346700.04477800.04118900.03777500.0
     2020                             3148600.02373700.0
2    2015  4880400.06146700.04701800.04236800.04488300.0
     2016  4974400.05078700.04700100.05709600.09008500.0
     2017  3189900.04118700.03599500.02927500.02875400.0
     2018  5237500.04341800.04174100.03794500.05031900.0

In [96]:
new_df.reset_index(inplace=True)

In [100]:
del new_df["week"]

In [102]:
new_df.groupby("year").sum()

,AAPL,TSLA,IBM
year,,,
2015,53204600.064285500.065797100.040105900.0593645...,4764400.05368500.06261900.02968400.03442500.04...,5525500.04880400.06146700.04701800.04236800.04...
2016,67649400.055791000.068457400.081094400.0707980...,6827100.03186800.03779100.03554300.03628100.04...,5229400.03924800.04310900.07025800.04762700.04...
2017,28781900.021118100.022193600.031751900.0335619...,5923300.011213500.05911700.05527900.03979500.0...,2934300.03381400.02682300.02945500.03189900.04...
2018,25555900.029517900.022434600.023660000.0350035...,4352200.04521500.09946300.04591200.06302300.09...,4202500.09441600.07556200.05195800.04982800.05...
2019,37039700.091312200.058607100.036028600.0252014...,11658600.06965200.07394100.012586400.010285700...,4239900.04346700.04477800.04118900.03777500.03...
2020,33870100.036580700.029596800.027218000.0330198...,9532100.017778500.010133000.017882100.03114430...,3148600.02373700.02425500.03090800.04346000.03...

In [97]:
new_df.groupby("year").sum()

      week
year
2015  1431
2016  1378
2017  1378
2018  1378
2019  1378
2020    78

                  AAPL         IBM       LNKD        TSLA
week year
1    2015   53204626.0   5525466.0  1203743.0   4764443.0
     2016  343422014.0  25233098.0  6630485.0  20967926.0
2    2015  283252615.0  24458400.0  7203125.0  22709607.0
     2016  302072797.0  29379214.0  9160521.0  22997290.0
3    2015  304226647.0  23263206.0  7084168.0  30799137.0

### Step 9. Find all the volume traded in the year of 2015

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08